body {
  background: #e4e4e4;
}
h6.cadastro {
  color: #989898;
}
section.cobrancas {
  background: #f1f2f5;
  width: 80%;
}
section.cobrancas header {
  background: white;
  padding: 10px 30px;
}
section.cobrancas header .titulo {
  width: 100%;
}
section.cobrancas header .titulo a {
  text-decoration: none;
}
section.cobrancas header .titulo a img {
  width: 14%;
  margin-right: 3%;
}
section.cobrancas header .titulo a.cobrancaRecebida {
  text-transform: uppercase;
  color: #f12650;
  font-weight: bold;
  border-top: 8px solid #f12650;
  padding-top: 15px;
  font-size: 0.8em;
}
section.cobrancas header .nomeUsuario .icon {
  color: #f12650;
  font-size: 30px;
  cursor: pointer;
  margin-right: 7%;
}
section.cobrancas header .nomeUsuario .texto p {
  white-space: nowrap;
  margin: 0;
  padding: 0;
  font-size: 0.8em;
  color: #989898;
}
section.cobrancas header .nomeUsuario .seta {
  cursor: pointer;
  margin-left: 5%;
}
section.cobrancas header .nomeUsuario .setaBaixo {
  display: none;
}
section.cobrancas .conteudo {
  background: white;
  width: 98%;
  margin: 10px auto;
  border-radius: 10px;
  padding: 20px;
}
section.cobrancas .conteudo .voltar {
  cursor: pointer;
}
section.cobrancas .conteudo .voltar .setaEsquerda {
  margin-right: 1%;
}
section.cobrancas .conteudo .voltar p {
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: bold;
  margin: 0;
  padding: 0;
}
section.cobrancas .conteudo .conteudoCobrancas .info .titulos h2 {
  font-weight: bold;
  font-size: 1.4em;
  white-space: nowrap;
}
section.cobrancas .conteudo .conteudoCobrancas .info .titulos p {
  color: #989898;
}
section.cobrancas .conteudo .conteudoCobrancas .info .filtro .submit-line {
  position: relative;
}
section.cobrancas .conteudo .conteudoCobrancas .info .filtro .submit-line .submit-lente {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  border: none;
  background: transparent;
  outline: none;
  color: #f12650;
  padding-right: 5%;
}
section.cobrancas .conteudo .conteudoCobrancas .info .filtro .submit-line input {
  width: 100%;
  border-radius: 20px;
  border: 2px solid #f12650;
  color: #f12650;
  padding-left: 10%;
  font-weight: bold;
}
section.cobrancas .conteudo .conteudoCobrancas .info .filtro .form-select {
  border-radius: 20px;
  border: 2px solid #f12650;
  color: #f12650;
  font-weight: bold;
  width: 20%;
  padding-left: 3%;
  padding-top: 0;
  padding-bottom: 0;
}
section.cobrancas .conteudo .conteudoCobrancas .info .filtro .date .submit-line .submit-lente {
  padding-left: 3%;
}
section.cobrancas .conteudo .conteudoCobrancas .paginacao .form-select {
  border-radius: 20px;
  border: 2px solid #f12650;
  color: #f12650;
  font-weight: bold;
  width: 15%;
  padding-left: 3%;
  padding-top: 0;
  padding-bottom: 0;
  height: 0%;
}
section.cobrancas .conteudo .conteudoCobrancas .paginacao p {
  color: #f12650;
}
section.cobrancas .conteudo .conteudoCobrancas .paginacao .page-link {
  color: #f12650;
  padding: 3px 10px;
}
.usuario {
  background: #fff;
  margin-left: 1%;
  height: 236px;
  width: 17%;
  padding: 10px 20px;
}
.usuario .dadosUsuario .icon {
  color: #f12650;
  font-size: 50px;
  cursor: pointer;
  margin-right: 7%;
}
.usuario .dadosUsuario .texto p {
  white-space: nowrap;
  margin: 0;
  padding: 0;
  font-size: 0.6em;
  color: #989898;
  font-weight: bold;
}
.usuario .dadosUsuario .texto p.name {
  color: #f12650;
  font-weight: bold;
  font-size: 0.8em;
}
.usuario .login .perfil p {
  text-transform: uppercase;
  color: #f12650;
  margin: 0;
  padding: 0;
  font-weight: bold;
}
.usuario .login .perfil .ball {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: #f12650;
}
.usuario .login .senha p {
  font-weight: bold;
  text-transform: uppercase;
  color: #989898;
  font-size: 0.8em;
}
.usuario .login .sair p {
  margin: 0;
  padding: 0;
  font-weight: bold;
  color: #f12650;
  cursor: pointer;
}
.usuario .login .sair .icon {
  color: #f12650;
  margin-left: 6%;
  cursor: pointer;
}
.svg-inline--fa.fa-print.fa-w-16 {
  margin-right: 15%;
  cursor: pointer;
}
.svg-inline--fa.fa-paperclip.fa-w-14 {
  cursor: pointer;
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #f12650;
  background-color: transparent;
  border-bottom: 3px solid #f12650;
  border-radius: 0%;
}
.nav-pills .nav-link {
  background: 0 0;
  border: 0;
  border-radius: 0.25rem;
  color: #989898;
}
.row {
  width: 100%;
  background: #989898;
  height: 2px;
  margin: 0 auto;
  margin: -18px 0px auto auto;
}
.rowPerfil {
  width: 100%;
  background: #989898;
  height: 1px;
  margin: 10px auto;
}
tr {
  align-items: center;
}
.submit-line-date {
  width: 25%;
}